<template>
    <div class="main-banner">
        <div class="main-banner-container">
            <img src="../../assets/pictures/banner.png" alt="" width="1140" height="140">
        </div>
    </div>
</template>

<style lang="sass">
    @import "../../assets/sass/style"

    .main-banner
        margin-top: 56px
        +media(xs-max)
            margin-top: 30px
        img
            max-width: 100%
            height: auto

    .main-banner-container
        @extend .container

</style>

