<template>
    <div class="main-slider">
        <div class="main-slider-container">
            <slick ref="slick" :options="slickOptions" class="main-slider-slick">
                <div v-for="slide in slides">
                    <div class="main-slider-slide">
                        <div class="main-slider-img">
                            <img :src="slide.img" alt="">
                        </div>
                        <div class="main-slider-content">
                            <h2>{{ slide.title }}</h2>
                            <p>
                                {{ slide.text }}
                            </p>
                            <p>
                                <a href="" class="main-slider-more">Читать</a>
                            </p>
                        </div>
                    </div>
                </div>
            </slick>
        </div>
    </div>
</template>


<script>
    import Slick from 'vue-slick'
    export default {
        components: { Slick },
        data () {
            return {
                slickOptions: {
                    arrows: false,
                    dots: true
                },
                slides: [
                    {'id': 1, 'title': 'Как купить квартиру в Красноярске', 'text': 'Все возможности приобретения квартиры и советы по законодательству.', 'img': 'src/assets/pictures/main-slider-1.png'},
                    {'id': 2, 'title': 'Как купить квартиру в Красноярске', 'text': 'Все возможности приобретения квартиры и советы по законодательству.', 'img': 'src/assets/pictures/main-slider-1.png'},
                    {'id': 3, 'title': 'Как купить квартиру в Красноярске', 'text': 'Все возможности приобретения квартиры и советы по законодательству.', 'img': 'src/assets/pictures/main-slider-1.png'},
                    {'id': 4, 'title': 'Как купить квартиру в Красноярске', 'text': 'Все возможности приобретения квартиры и советы по законодательству.', 'img': 'src/assets/pictures/main-slider-1.png'}
                ]
            }
        },
        methods: {
            next () {
                this.$refs.slick.next()
            },

            prev () {
                this.$refs.slick.prev()
            },

            reInit () {
                this.$nextTick(() => {
                    this.$refs.slick.reSlick()
                })
            }
        }
    }
</script>

<style lang="sass">
    @import "../../assets/sass/components/slick"
    @import "../../assets/sass/style"
    .main-slider
        padding-top: 28px
        padding-bottom: 42px
        background: #ffffff
        box-shadow: 0 3px 4px 0 rgba(102, 102, 102, 0.25)
        +media(xs-max)
            margin-bottom: 60px
            padding-bottom: 0

        .slick-dots
            position: absolute
            right: 0
            bottom: 0
            margin: 0
            list-style: none
            +media(xs-max)
                top: 100%
                left: 0
                margin-top: 10px
                padding: 0
                text-align: center
            li
                margin-left: 8px
                display: inline-block
                +media(xs-max)
                    margin: 0 4px
                &.slick-active
                    button
                        background: $theme-color-green
                        border: 1px solid $theme-color-green
                        color: #ffffff
            button
                width: 40px
                height: 40px
                background: transparent
                border: 1px solid #999999
                border-radius: 3px
                color: #666666
                +transition($link-transition)
                +media(xs-max)
                    width: 16px
                    height: 16px
                    font-size: 0
                    border-radius: 50%
                    border: 1px solid #d9d9d9
                    background: #d9d9d9

    .main-slider-container
        position: relative
        @extend .container

    .main-slider-slide
        @extend .row

    .main-slider-img
        @extend .col-4
        text-align: center
        img
            display: inline-block !important
            max-width: 100%
            height: auto

    .main-slider-content
        @extend .col-8
        padding-top: 29px
        font-size: 24px
        line-height: 1.2
        color: #666666
        +media(xs-max)
            padding-bottom: 30px
            font-size: 0
        h2
            margin-bottom: 19px
            font-size: 64px
            font-weight: 400
            line-height: 1.1
            color: $theme-color-green
            +media(xs-max)
                font-size: 17px
                line-height: 1.4
        p
            margin-bottom: 32px
            &:last-child
                margin-bottom: 0
            +media(xs-max)
                margin: 0

    .main-slider-more
        display: inline-block
        padding: 10px 55px
        font-size: 16px
        color: #666666
        border: 1px solid #999999
</style>
