<template>
    <div>

        <breadcrumbs></breadcrumbs>

        <div class="page">
            <div class="page-container">
                <div class="page-title">
                    <h1>Готовые квартиры в Красноярске</h1>
                    <a href="">Сменить город</a>
                </div>

                <div class="page-row">
                    <div class="page-content">
                        <div class="product-filter">
                            <ul class="product-filter-list">
                                <li class="product-filter-item active"><a href="" class="product-filter-link">список</a>
                                </li>
                                <li class="product-filter-item"><a href="" class="product-filter-link">карта</a></li>
                            </ul>
                            <div class="product-filter-sort">
                                <select class="selectpicker" data-width="200">
                                    <option>сначала дешевле</option>
                                    <option>сначала дороже</option>
                                </select>
                            </div>

                            <div class="filter-link-m"><a>Фильтр</a></div>
                        </div>
                    </div>
                </div>


                <div class="page-row">
                    <div class="page-content">

                        <products-list></products-list>

                        <!--
                        <ul class="pagination">
                            <li class="pagination-item"><a href="" class="pagination-link">Назад</a></li>
                            <li class="pagination-item"><a href="" class="pagination-link">2</a></li>
                            <li class="pagination-item active"><a href="" class="pagination-link">3</a></li>
                            <li class="pagination-item"><a href="" class="pagination-link">4</a></li>
                            <li class="pagination-item"><a href="" class="pagination-link">...</a></li>
                            <li class="pagination-item"><a href="" class="pagination-link">Следующая</a></li>
                        </ul>
                        -->
                    </div>
                    <aside class="page-sidebar">

                        <catalog-filter></catalog-filter>

                    </aside>
                </div>
            </div>
        </div>
        <news></news>
    </div>
</template>

<script>
    import News from '../components/News'
    import Breadcrumbs from '../components/Breadcrumbs'
    import ProductsList from '../components/ProductsList.vue'
    import CatalogFilter from '../components/CatalogFilter.vue'

    export default {
        components: {
            News,
            Breadcrumbs,
            ProductsList,
            CatalogFilter
        },
        name: 'app'
    }
</script>

<style lang="sass">
    @import "../assets/sass/style"
    .page
        margin-top: 36px
        +media(xs-max)
            margin-top: 15px

        .page-container
            @extend .container

        .page-row
            +make-row()
            margin-bottom: 24px

        .page-title
            margin-bottom: 25px
            h1
                display: inline-block
                vertical-align: middle
                font-size: 30px
                font-weight: 400
                color: $theme-color-green
            a
                margin-left: 16px
                color: #999999
                +media(xs-max)
                    display: block
                    margin: 0
                &.page-title-location
                    color: #666666
                    border-bottom: 1px solid

        .page-content
            @extend .col-md-12
            @extend .col-lg-9

        .page-sidebar
            @extend .col-md-12
            @extend .col-lg-3
            position: static
            h2
                margin-bottom: 20px
                padding: 0 10px
                font-size: 18px
                font-weight: 600
                line-height: 1.2
                text-align: center
                color: #000000

        .page-sidebar-content
            padding-top: 24px
            padding-bottom: 24px
            background: #ffffff

        .page-text
            padding: 28px 32px
            background: #ffffff
            box-shadow: 0 3px 4px 0 rgba(102, 102, 102, 0.25)
            +media(xs-max)
                margin: 0 -15px 36px
                padding: 25px 15px
            h2
                margin-top: 25px
                margin-bottom: 17px
            h3
                margin-bottom: 10px
            a
                color: $theme-color-green
                border-bottom: 1px solid rgba($theme-color-green, .25)
                &:hover
                    color: #53bb57
                &:visited
                    color: #005b00

            ul
                margin: 1rem 0
                padding: 0
                list-style: none
                li
                    position: relative
                    margin-bottom: 8px
                    padding-left: 12px
                    &:before
                        position: absolute
                        top: 10px
                        left: 0
                        content: ""
                        width: 4px
                        height: 4px
                        background: #53bb57
                        border-radius: 50%



    .product-filter
        display: flex
        justify-content: space-between
        align-items: center
        text-align: center
        //+media(md-max)
          display: block
        +media(xs-max)
            display: block

    .product-filter-list
        margin: 0
        padding: 0
        display: inline-block
        list-style: none
        border: 1px solid #d9d9d9
        border-radius: 2px
        +clearfix
        +media(xs-max)
            margin-bottom: 10px

    .product-filter-item
        float: left
        border-left: 1px solid #d9d9d9
        +media(xs-max)
            width: 100%
            text-align: center
            border-left: none
        &:first-child
            border-left: none
        &.active
            .product-filter-link
                background: #ffffff

    .product-filter-link
        display: block
        padding: 5px 30px
        color: #666666

    .product-filter-print
        +media(md-max)
            padding-left: 30px
            margin-top: 10px
        a
            position: relative
            color: #666666
            border-bottom: 1px solid
            &:before
                position: absolute
                top: -3px
                left: -30px
                font-family: $font-awesome
                font-size: 19px
                @extend .icon-print


    .product-filter-sort
        +media(xs-max)
            text-align: center
        .btn
            padding-left: 13px
            padding-top: 9px
            padding-bottom: 6px
            background: transparent
            border: 1px solid #d9d9d9
            border-radius: 2px
            font-size: 16px
            line-height: 1
            color: #666666
        .dropdown-toggle
            &:after
                position: absolute
                top: 50%
                right: 27px
                margin-top: -10px
                font-family: $font-awesome
                border: none
                font-size: 20px
                @extend .icon-arrow-bottom-otl:before


    .tag
        position: absolute
        padding: 2px 15px
        top: 0
        left: 0
        min-width: 26px
        min-height: 24px
        font-size: 14px
        color: #ffffff
        text-transform: uppercase

        &.tag-red
            background: #d71919
        &.tag-green
            background: #53bb57
        &.tag-orange
            background: #ff6e00
</style>

