<template>

    <div>

        <main-about></main-about>

        <b-products title="Спецпредложения готовых квартир в Красноярске"></b-products>

        <main-info></main-info>

        <main-slider></main-slider>

        <b-products title="Коттеджи, дома и дачи в Красноярске и окрестностях"></b-products>

        <main-banner></main-banner>

        <b-products title="Продажа земли в Красноярске и окрестностях"></b-products>

        <news></news>

    </div>

</template>

<script>
    import MainAbout from '../components/main-page/MainAbout'
    import MainInfo from '../components/main-page/MainInfo'
    import MainSlider from '../components/main-page/MainSlider'
    import MainBanner from '../components/main-page/MainBanner'
    import News from '../components/News'
    import BProducts from '../components/BProducts.vue'
    export default {
        components: {
            MainAbout,
            MainInfo,
            MainSlider,
            MainBanner,
            News,
            BProducts
        },
        name: 'app'
    }
    /*
    export default {
      mounted () {
        this.getAllProducts()
      },
      computed: {
        ...mapGetters([
          'allProducts'
        ])
      },
      methods: {
        ...mapActions([
          'getAllProducts'

        ])
      }
    }
    */
</script>

<style>
</style>

