<template>

    <div class="catalog-filter">
        <div class="catalog-filter-block">
            <div class="catalog-filter-block-item">
                <div class="catalog-filter-block-title">Быстрый фильтр</div>
                <div class="catalog-filter-content">
                    <label class="checkbox">
                        <input type="checkbox">
                        <span>1-комн. до 1 млн</span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span>2-комн. до 2 млн</span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span>Для семьи с детьми</span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span>От собственника</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="catalog-filter-block">
            <div class="catalog-filter-block-item">
                <div class="catalog-filter-content">
                    <div class="catalog-filter-item">
                        <p>Количество комнат</p>
                        <div class="catalog-filter-rooms">
                            <label class="checkbox">
                                <input type="checkbox">
                                <span>1</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span>2</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span>3</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span>4</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span>5+</span>
                            </label>
                        </div>
                    </div>
                    <div class="catalog-filter-item">
                        <p>Стоимость 0,5—4,5 млн</p>
                        <div class="catalog-filter-slider" id="catalog-filter-slider-1"></div>
                    </div>
                    <div class="catalog-filter-item">
                        <div class="catalog-filter-show-button">
                            <a href="">Показать 23435</a>
                        </div>
                        <div class="catalog-filter-item-title -gray">Площадь, м²</div>
                        <p>Общая от 20 м²</p>
                        <div class="catalog-filter-slider" id="catalog-filter-slider-2"></div>
                    </div>
                    <div class="catalog-filter-item">
                        <p>Кухня не важна</p>
                        <div class="catalog-filter-slider" id="catalog-filter-slider-3"></div>
                    </div>
                    <div class="catalog-filter-item catalog-filter-region">
                        <select class="selectpicker" data-width="100%" multiple
                                title="Район и подрайон">
                            <option>Октябрьский</option>
                            <option>Свердловский</option>
                            <option>Центральный</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="catalog-filter-block-item">
                <div class="catalog-filter-block-title">Больше параметров</div>
                <div class="catalog-filter-content">
                    <div class="catalog-filter-item">
                        <select class="selectpicker" data-width="100%">
                            <option>Любой год постройки</option>
                            <option>сначала дороже</option>
                        </select>
                    </div>
                    <div class="catalog-filter-item">
                        <p>Этаж от 3 и выше</p>
                        <div class="catalog-filter-slider" id="catalog-filter-slider-4"></div>
                    </div>
                    <div class="catalog-filter-item">
                        <div class="catalog-filter-item-title -gray">Материал стен</div>
                        <label class="checkbox">
                            <input type="checkbox">
                            <span>Кирпич</span>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox">
                            <span>Панель</span>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox">
                            <span>Монолитно-кирпичный</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="catalog-filter-footer">
                <a href="" class="catalog-filter-show-link">Показать 23435</a>
            </div>
        </div>
    </div>

</template>

<style lang="sass">
    @import "../assets/sass/style"
    .catalog-filter
        position: relative
        +media(sm-max)
            position: absolute
            top: 0
            left: 10px
            right: 10px
            z-index: 10
            display: none
        .btn
            padding-left: 13px
            padding-top: 9px
            padding-bottom: 6px
            background: transparent
            border: 1px solid #d9d9d9
            border-radius: 2px
            font-size: 16px
            line-height: 1
            color: #666666
        .dropdown-toggle
            &:after
                position: absolute
                top: 50%
                right: 27px
                margin-top: -10px
                font-family: $font-awesome
                border: none
                font-size: 20px
                @extend .icon-arrow-bottom-otl:before

    .catalog-filter-block
        background: #ffffff
        box-shadow: 0 3px 4px 0 rgba(102, 102, 102, 0.25)
        margin-bottom: 20px

    .catalog-filter-block-title
        position: relative
        padding: 13px 20px
        border-top: 1px solid #f2f2f2
        border-bottom: 1px solid #f2f2f2
        background: #f2f2f2
        cursor: pointer
        &:before
            position: absolute
            top: 50%
            right: 12px
            margin-top: -10px
            font-family: $font-awesome
            @extend .icon-arrow-bottom-otl
            font-size: 20px
            line-height: 1
            color: #666666

    .catalog-filter-content
        padding: 21px 20px 26px
        .checkbox
            display: block
            margin-bottom: 12px
            &:last-child
                margin-bottom: 0

    .catalog-filter-item-title
        margin-top: 32px
        margin-bottom: 16px
        color: #999999

    .catalog-filter-item
        margin-bottom: 18px
        &:last-child
            margin-bottom: 0
        p
            margin-bottom: 9px

    .catalog-filter-rooms
        +clearfix
        .checkbox
            float: left
            margin-right: -1px
            margin-bottom: 0
            padding: 0
            input
                &:checked
                    + span
                        background: $theme-color-green
                        border: 1px solid $theme-color-green
                        color: #ffffff
            span
                display: block
                padding: 0
                width: 36px
                height: 36px
                line-height: 36px
                text-align: center
                border: 1px solid #d9d9d9
                +transition($link-transition)
                &:after, &:before
                    display: none
                +media(md)
                    width: 35px
            &:last-child
                span
                    width: 56px
                    +media(md)
                        width: 35px



    .catalog-filter-slider
        margin-top: 12px
        margin-bottom: 24px

    .catalog-filter-region
        .bootstrap-select .dropdown-toggle
            line-height: 1.2
        .dropdown-toggle
            &:after
                position: absolute
                top: 50%
                right: 27px
                margin-top: -10px
                font-family: $font-awesome
                border: none
                font-size: 20px
                font-weight: 400
                @extend .icon-menu-trigger:before

        .btn
            font-size: 0
            span
                font-size: $font-size-base
        .btn, .dropdown-header, .dropdown-item
            white-space: normal

    .catalog-filter-region-link
        position: relative
        margin-top: 14px
        padding: 5px 12px
        display: inline-block
        width: 100%
        border: 1px solid #d9d9d9
        border-radius: 2px
        color: $body-color
        &:before
            position: absolute
            top: 50%
            right: 7px
            font-family: $font-awesome
            font-size: 20px
            color: #999999
            margin-top: -10px
            line-height: 1
            @extend .icon-menu-trigger


    .catalog-filter-footer
        padding: 20px
        border-top: 1px solid #d9d9d9

    .catalog-filter-show-link
        width: 100%
        padding: 8px
        display: inline-block
        background: $theme-color-green
        color: #ffffff
        border-radius: 3px
        text-align: center

    .filter-link-m
        display: none
        margin-top: 20px
        text-align: center
        a, a:not([href]), a:not([tabindex])
            color: $theme-color-green
        +media(sm-max)
            display: block


    .catalog-filter-show-button
        position: absolute
        right: 100%
        margin-right: 10px
        padding: 24px
        background: #ffffff
        box-shadow:  0 2px 4px 0 rgba(102, 102, 102, 0.25)
        border-radius: 3px
        &:after
            position: absolute
            content: ""
            top: 50%
            left: 100%
            margin-top: -10px
            border-top: 10px solid transparent
            border-bottom: 10px solid transparent
            border-left: 10px solid #ffffff
        a
            display: block
            width: 223px
            padding: 10px 31px
            background: $theme-color-green
            color: #ffffff
            text-align: center
            border-radius: 3px
</style>