<template>
    <div class="footer">
        <div class="footer-container">
            <div class="footer-row">
                <div class="footer-info">
                    <p>
                        Огромный выбор объявлений о продаже и аренде недвижимости в Красноярске, Сосновоборске, Дивногорске и других городах Красноярского края. На портале Сибдом. ру представлены разделы: квартиры, дома и коттеджи, земельные участки, дачи, гаражи, коммерческая недвижимость, квартиры посуточно, дома у моря.
                    </p>
                    <p>
                        Размещение рекламы: (391) 2-218-219, reklama@sibdom.ru
                    </p>
                </div>
                <div class="footer-copyright">
                    <div class="footer-counters">
                        <img src="" alt="" width="88" height="31">
                        <img src="" alt="" width="88" height="31">
                        <img src="" alt="" width="88" height="31">
                    </div>
                    <p>
                        © ООО «Сибдом», 2001—2017
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="sass">
    @import "../assets/sass/style"
    .footer
        padding: 40px 0
        background: #262626
        color: #ffffff

    .footer-container
        @extend .container

    .footer-row
        @extend .row

    .footer-info
        @extend .col-sm-12
        @extend .col-md-8
        font-size: 14px
        line-height: 1.3

    .footer-copyright
        @extend .col-sm-12
        @extend .col-md-4
        font-size: 14px

    .footer-counters
        margin-bottom: 34px
        width: 280px
        max-width: 100%
        display: flex
        @extend .justify-content-between
</style>