<template>
    <div class="header">
        <div class="header-container">
            <div class="header-row">
                <div class="header-logo">
                    <router-link to="/"><img src="../assets/images/logo.svg" alt="" width="260"></router-link>
                </div>
                <div class="header-logo-m">krasmetr.ru</div>
                <div class="header-links">
                    <a href="" class="header-link header-link-compare">Список сравнения — 5</a>
                    <a href="" class="header-link header-link-favorites">Избранное — <span>5</span></a>
                </div>
                <div class="header-ad">
                    <a href="" class="header-ad-link">Подать объявление</a>
                </div>
                <div class="header-trigger"></div>
            </div>
        </div>
    </div>
</template>

<script>
</script>

<style lang="sass">
    @import "../assets/sass/style"
    .header
        padding-top: 21px
        padding-bottom: 28px
        background: #ffffff
        border-bottom: 1px solid #d9d9d9
        +media(xs-max)
            display: none
            width: 100%
            padding: 10px 0
            background: $theme-color-green



    .header-container
        @extend .container

    .header-row
        @extend .row
        +media(xs-max)
            margin: 0
            align-items: center
            justify-content: space-between

    .header-logo
        @extend .col-4
        @extend .align-self-end
        padding-right: 0
        img
            display: inline-block
            vertical-align: bottom
        +media(xs-max)
            display: none

    .header-logo-m
        display: none
        color: #ffffff
        font-size: 22px
        +media(xs-max)
            display: block

    .header-description
        margin-bottom: 4px
        width: 100px
        display: inline-block
        vertical-align: bottom
        font-size: 13px
        line-height: 1
        +media(sm-max)
            display: none

    .header-links
        @extend .col-5
        @extend .align-self-end
        padding-bottom: 7px
        padding-right: 41px
        text-align: right
        +media(md)
            padding-right: 15px
        +media(sm)
            padding-bottom: 0
        +media(xs-max)
            padding-bottom: 0
            align-self: center !important
            line-height: 1

    .header-link
        margin-left: 27px
        display: inline-block
        color: #262626
        &:first-child
            margin-left: 0

    .header-link-compare
        +media(xs-max)
            display: none
        &:before
            margin-right: 6px
            margin-top: -3px
            display: inline-block
            vertical-align: middle
            font-family: $font-awesome
            @extend .icon-list
            font-size: 20px
            color: #999999

    .header-link-favorites
        +media(xs-max)
            font-size: 0
            line-height: 1
            color: #ffffff
            span
                font-size: 1rem
                vertical-align: middle
        &:before
            margin-right: 8px
            margin-top: -3px
            display: inline-block
            vertical-align: middle
            font-family: $font-awesome
            @extend .icon-star
            font-size: 20px
            color: #999999
            +media(xs-max)
                color: #ffffff
                line-height: 1

    .header-ad
        @extend .col-3
        @extend .align-self-end
        text-align: right
        +media(sm-max)
            padding-left: 0
        +media(xs-max)
            display: none

    .header-ad-link
        display: inline-block
        width: 223px
        padding: 12px
        max-width: 100%
        background: #d71919
        color: #ffffff
        line-height: 1
        text-align: center
        border-radius: 3px

    .header-trigger
        display: none
        line-height: 1
        &:before
            font-family: $font-awesome
            @extend .icon-menu-trigger
            font-size: 28px
            color: #ffffff
        +media(xs-max)
            display: block
</style>
