<template>
    <div class="b-news">
        <div class="b-news-container">
            <div class="b-news-head">
                <h2><a href="">Новости строительства и недвижимости на сайте Sibdom.ru</a></h2>
            </div>
            <div class="news">
                <div class="news-item">
                    <div class="news-img"><a href=""><img src="../assets/pictures/product1.png" alt="" width="204" height="151"></a></div>
                    <div class="news-title">
                        <a href="">Список новостроек с ипотекой под 8,4 процента расширился</a>
                    </div>
                    <div class="news-view">234</div>
                </div>
                <div class="news-item">
                    <div class="news-img"><a href=""><img src="../assets/pictures/product1.png" alt="" width="204" height="151"></a></div>
                    <div class="news-title">
                        <a href="">Пешеходный бульвар свяжет два корпуса СФУ</a>
                    </div>
                    <div class="news-view">234</div>
                </div>
                <div class="news-item">
                    <div class="news-img"><a href=""><img src="../assets/pictures/product1.png" alt="" width="204" height="151"></a></div>
                    <div class="news-title">
                        <a href="">На ремонт Коммунального моста потратят почти 400 млн рублей</a>
                    </div>
                    <div class="news-view">234</div>
                </div>
                <div class="news-item">
                    <div class="news-img"><a href=""><img src="../assets/pictures/product1.png" alt="" width="204" height="151"></a></div>
                    <div class="news-title">
                        <a href="">В первом квартале 2017 года средняя цена квадратного метра в Красноярске...</a>
                    </div>
                    <div class="news-view">234</div>
                </div>
                <div class="news-item">
                    <div class="news-img"><a href=""><img src="../assets/pictures/product1.png" alt="" width="204" height="151"></a></div>
                    <div class="news-title">
                        <a href="">«АСГРУПП»: «Нам интересны нестандартные объекты»</a>
                    </div>
                    <div class="news-view">234</div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="sass">
    @import "../assets/sass/style"
    .b-news
        padding-top: 42px
        padding-bottom: 37px
        background: #ffffff
        +media(xs-max)
            padding-top: 30px
            padding-bottom: 30px

    .b-news-container
        @extend .container
        +media(xs-max)
            padding: 0 30px

    .b-news-head
        margin-bottom: 33px
        +media(xs-max)
            margin-bottom: 10px
        h2
            font-size: 18px
            font-weight: 600
        a
            color: $body-color
            border-bottom: 1px rgba(38, 38, 38, 0.25)

    .news
        @extend .row

    .news-item
        @extend .col-2
        width: percentage(1/5)
        flex: 0 0 percentage(1/5)
        max-width: percentage(1/5)
        +media(sm-max)
            width: percentage(1/3)
            flex: 0 0 percentage(1/3)
            max-width: percentage(1/3)
        +media(xs-max)
            width: percentage(1/1)
            flex: 0 0 percentage(1/1)
            max-width: percentage(1/1)

    .news-title
        margin-top: 16px
        height: 50px
        font-size: 14px
        font-weight: 500
        line-height: 1.2
        overflow: hidden
        text-overflow: ellipsis
        +media(xs-max)
            margin-top: 15px
            height: auto
            font-weight: 400
            overflow: inherit
            line-height: 18px
        a
            color: $body-color
            +media(xs-max)
                border-bottom: 1px solid
            &:hover
                color: $link-hover-color

    .news-view
        margin-top: 10px
        font-size: 14px
        color: #999999
        +media(xs-max)
            display: none
        &:before
            margin-right: 4px
            display: inline-block
            vertical-align: middle
            font-family: $font-awesome
            @extend .icon-view
            font-size: 18px

    .news-img
        +media(xs-max)
            display: none
        img
            width: 100%
            height: auto

</style>

