<template>
    <div class="products products-block">
        <div v-for="p in products" class="product">
            <div class="product-wrap">
                <div class="product-img">
                    <a href=""><img :src="p.img" alt="" width="263" height="198"></a>
                </div>
                <div class="product-content">
                    <div class="product-title">
                        <router-link :to="{name: 'product', params: {id: p.id}}" class="title">{{ p.title }}
                        </router-link>
                    </div>
                    <div class="product-footer">
                        <span class="product-price">{{ p.price }} руб.</span>
                        <a class="product-favorite"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        data () {
            return {
                products: [
                    {'id': 1, 'title': '1-комн., Вильского ул, д. 16г', 'price': 2400000, 'img': 'src/assets/pictures/product1.png'},
                    {'id': 2, 'title': '1-комн. (долевое), ПЯТЬ+ ж/к, 3 дом', 'price': 1408000, 'img': 'src/assets/pictures/product1.png'},
                    {'id': 3, 'title': 'Гостинка, Свободный пр-кт, д. 12', 'price': 865000, 'img': 'src/assets/pictures/product1.png'},
                    {'id': 4, 'title': '3-комн. (долевое), Солнечный, 3 мкр, д. 25', 'price': 3000000, 'img': 'src/assets/pictures/product1.png'}
                ]
            }
        }
    }
</script>

<style lang="sass">

    @import "../assets/sass/style"

    .products
        .product-img
            img
                width: 100%
                height: auto

    .product
        &.favorite
            .product-favorite
                &:before
                    color: #d71919

    .tag
        position: absolute
        padding: 2px 15px
        top: 0
        left: 0
        min-width: 26px
        min-height: 24px
        font-size: 14px
        color: #ffffff
        text-transform: uppercase

        &.tag-red
            background: #d71919
        &.tag-green
            background: #53bb57
        &.tag-orange
            background: #ff6e00

    .products
        &.products-block
            @extend .row

            .product
                @extend .col-md-6
                @extend .col-lg-3
                +media(sm-max)
                    margin-bottom: 20px

            .product-wrap
                height: 100%
                background: #ffffff
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25)

            .product-title
                padding: 16px 16px 18px
                font-size: 18px
                line-height: 1.33
                a
                    color: $body-color

            .product-content
                background: #ffffff

            .product-footer
                position: relative
                padding: 8px 50px 13px 16px
                border-top: 1px solid #d9d9d9

            .product-price
                font-size: 24px
                font-weight: 600

            .product-favorite
                top: 50%
                margin-top: -14px
                right: 14px
                position: absolute
                font-family: $font-awesome
                font-size: 23px
                line-height: 1
                @extend .icon-star
                &:before
                    color: #999999
                    +transition($link-transition)
</style>

