<template>
  <div class="app">
    <header-vue></header-vue>
    <header-nav></header-nav>
    <div class="page">
      <router-view></router-view>
    </div>
    <footer-vue></footer-vue>
  </div>
</template>

<script>
    import HeaderVue from './components/HeaderVue'
    import HeaderNav from './components/HeaderBar'
    import FooterVue from './components/Footer'
    export default {
        components: {
            HeaderVue,
            HeaderNav,
            FooterVue
        },
        name: 'app'
    }
</script>

