@import "variables"
@import "bootstrap"
@import "mixins/media"
body
  position: relative
  width: 100%
  min-width: 320px
  //+font-smoothing
  a
    color: $link-color
    cursor: pointer
    text-decoration: none !important
    outline: none !important
    +transition($link-transition)
    &[data-toggle="modal"]
      cursor: pointer


  input, button, .slick-slide
    outline: none !important


.container
  +media(lg-min)
    width: 1170px


h2
  font-size: 24px
  font-weight: 600
  color: $theme-color-green

h3
  font-size: 18px
  font-weight: 400
  color: $theme-color-green

.checkbox
  input
    display: none
    &:checked
      + span
        &:before
          opacity: 1
  span
    position: relative
    padding-left: 22px
    &:after
      position: absolute
      top: 2px
      left: 0
      content: ""
      width: 16px
      height: 16px
      border: 1px solid #999999
      border-radius: 2px
    &:before
      position: absolute
      top: 1px
      left: 2px
      font-family: $font-awesome
      @extend .icon-check
      color: $theme-color-green
      font-size: 13px
      opacity: 0
      +transition($link-transition)


.catalog-filter-slider, .calculator-options-slider
  &.noUi-horizontal
    height: 2px
    .noUi-handle
      top: 0
      left: -8px
      width: 0
      height: 0
      border-top: none
      border-left: 8px solid transparent
      border-right: 8px solid transparent
      border-bottom: 15px solid $theme-color-green
      background: none
      box-shadow: none
      outline: none
      &:before, &:after
        display: none

  &.noUi-target
    border: none
    background: #d9d9d9

  .noUi-connect
    background: #53bb57
    box-shadow: none
    &:before
      position: absolute
      content: ""
      bottom: 100%
      left: 0
      right: 0
      height: 1px
      background: #53bb57


table
  margin: 17px 0
  width: 100%
  border-top: 1px solid #d9d9d9
  border-bottom: 1px solid #d9d9d9
  tr
    &:nth-child(2n)
      td
        background: #f2f2f2
    td
      padding: 8px 12px
      +media(xs-max)
        padding: 8px 0


.hidden-xs
  +media(xs-max)
    display: none


.bootstrap-select.btn-group .dropdown-menu.inner
  display: block

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn)
  outline: none !important

.btn
  outline: none !important

.dropdown-menu
  margin-top: 0
  > li
    > a
      display: block
      color: #666
      padding: 4px 13px
      &:hover
        color: $theme-color-green


.modal-bg
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgba(#000000, .75)
  z-index: 9
  display: none